// FONT VARIABLES
$font-primary: "Open+Sans", sans-serif;
$font-display: "Raleway", sans-serif;

// COLOR VARIABLES
$color-primary: #354ed8;
$color-black: #131313;
$color-white: #fbfbfb;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px
}

.body {
  font-family: $font-primary;
  color: $color-white;
  font-size: 2.5rem;
  font-weight: 300;
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-1 {
  font-family: $font-display;
  font-weight: 200;
  font-size: 10rem;
}
.btn {
}
