.card {
  width: $card-width;
  height: $card-width * 1.4;
  color: red;
  background-color: $color-white;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 3fr;
  box-shadow: inset 0px 0px 20px $color-inner-shadow, 2px 3px 10px $color-shadow;

  &__num {
    align-self: center;
    padding-left: 0.7rem;
    grid-column: 1;
    grid-row: 1;
  }

  &__icon {
    align-self: center;
    justify-self: right;
    width: 3.2rem;
    padding-right: 0.7rem;
    grid-column: 2;
    grid-row: 1;
  }

  &__suit {
    width: 9rem;
    align-self: center;
    justify-self: center;
    grid-column: 1 / -1;
    grid-row: 2;
  }
}

.red {
  color: $color-suit-red;
}

.black {
  color: $color-suit-black;
}

.heading-3 {
  font-family: $font-primary;
  font-weight: 700;
  font-size: 2.8rem;
}
