// FONT VARIABLES
$font-primary: "Open Sans", sans-serif; // 300 400 600 700 800
$font-display: "Raleway", sans-serif; // 100 200 300 400 500 600 700 800 900

// COLOR VARIABLES
$color-primary: #354ed8;
$color-black: #131313;
$color-white: #fbfbfb;
$color-shadow: rgba(19, 19, 19, 0.75);
$color-inner-shadow: rgba(155, 155, 155, 0.75);

$color-suit-red: rgb(211, 8, 8);

$card-width: 12.4rem;
