// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif; // 300 400 600 700 800
$font-display: 'Raleway', sans-serif; // 100 200 300 400 500 600 700 800 900

// COLOR VARIABLES
$color-primary: #354ed8;
$color-black: #131313;
$color-white: #fbfbfb;
$color-shadow: #131313bf;
$color-inner-shadow: #9b9b9bbf;

$color-suit-red: #d30808;
$color-suit-black: #131313;

$card-width: 12.4rem;

// CARD PROPERTIES
$card-corners: 0.5rem;
